<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>LoginEntryController</string>
	<string>JoinViewController</string>
	<string>LoginStartViewController</string>
	<string>LoginViewController</string>
	<string>SexViewController</string>
	<string>RegisMobileViewController</string>
	<string>RegisCodeViewController</string>
	<string>RegisPwdViewController</string>
	<string>DetailViewController</string>
	<string>MineViewController</string>
	<string>LoginEntanceViewController</string>
	<string>Login_NewViewController</string>
	<string>Regis_NewViewController</string>
</array>
</plist>
